# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# Zugänge
CummingsFrom2To3.md
CummingsFrom3To4.md
CummingsMysqlNetcup.md
DeployinOnServer.md
GitCommands.md
PlacesMySqlNew.md
Prisma.md
Server_Absicherung_StellungnahmenWgBruteForce.md
Server_Absicherung.md
Server_Zugang_sshd_config.md
Server_Zugang.md
240814 .env Server untrustedHost.md
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts